@mixin calendar__size {
  margin: auto;
  width: 708px;
  height: 506px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  line-height: 100px;
  color: black;
}

@mixin day__box--hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
  transition: 0.5s;
}
